<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <li>
          <a href="http://localhost:3000/abdallah">Abdallah</a>
          <a href="http://localhost:3000/Bilal">Bilal</a>
          <a href="http://localhost:3000/suhail">Suhail</a>
          <a href="http://localhost:3000/nubaid">Nubaid</a>

        </li>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
